[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/visualstar"]
	path = .vim/bundle/visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/scriptease"]
	path = .vim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/git"]
	path = .vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/characterize"]
	path = .vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/sneak"]
	path = .vim/bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule ".vim/bundle/jdaddy"]
	path = .vim/bundle/jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/perl"]
	path = .vim/bundle/perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/signature"]
	path = .vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/wildfire"]
	path = .vim/bundle/wildfire
	url = https://github.com/gcmt/wildfire.vim.git
[submodule ".vim/bundle/haystack"]
	path = .vim/bundle/haystack
	url = https://github.com/tpope/vim-haystack.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".vim/bundle/lexima"]
	path = .vim/bundle/lexima
	url = https://github.com/cohama/lexima.vim.git
[submodule ".vim/bundle/airline-themes"]
	path = .vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/eunuch"]
	path = .vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/dirvish"]
	path = .vim/bundle/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule ".vim/bundle/argumentative"]
	path = .vim/bundle/argumentative
	url = https://github.com/PeterRincker/vim-argumentative.git
[submodule ".vim/bundle/targets"]
	path = .vim/bundle/targets
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/bundle/terminus"]
	path = .vim/bundle/terminus
	url = https://github.com/wincent/terminus.git
[submodule ".vim/bundle/ctrlp-tjump"]
	path = .vim/bundle/ctrlp-tjump
	url = https://github.com/ivalkeen/vim-ctrlp-tjump.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule ".vim/bundle/rhubarb"]
	path = .vim/bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/grepper"]
	path = .vim/bundle/grepper
	url = https://github.com/mhinz/vim-grepper.git
