[user]
	name = Emily St.
	email = hello@emily.st
[include]
    path = ~/.gitconfig.local
[giggle]
    main-window-maximized = false
    main-window-geometry = 1018x603+244+123
    history-view-vpane-position = 211
    main-window-view = HistoryView
    file-view-vpane-position = 559
[core]
    preloadindex = true
    excludesfile = ~/.gitignore_global
    trustctime = false
[color]
    ui = auto
[log]
    date = local
[rerere]
    enabled = true
[pager]
    color = true
[status]
    color = auto
    submodulesummary = true
[alias]
    st = status
    ci = commit -av
    c = commit -av
    co = checkout
    lg = "log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cr%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph"
    review = "log --stat=80 --dirstat -p -w --patience --reverse --find-copies-harder --decorate -M -C -C -c"
    upm = !sh -c 'git fetch --all && git rebase origin/master && git submodule update' -
    plog = !git lg
    d = difftool
    ignored = ls-files --others -i --exclude-standard
    ready = rebase -i @{u}
    st = status -sb
    purr = pull --rebase
    standup = "!git log --since yesterday --author `git config user.email` --pretty=short"
    switch = !legit switch \"$@\"
    branches = !legit branches
    sprout = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest = !legit harvest \"$@\"
    sync = !legit sync \"$@\"
    publish = !legit publish \"$@\"
    graft = !legit graft \"$@\"
	up = pull --ff-only --all -p
[push]
    default = current
[status]
    submodulesummary = true
[advice]
    pushNonFastForward = false
    statusHints = false
    commitBeforeMerge = false
    resolveConflict = false
    implicitIdentity = false
[commit]
    template = ~/.gitcommittemplate
[difftool]
    prompt = false
[http]
    sslVerify = false
[branch]
    autosetuprebase = always
[help]
	autocorrect = 1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[remote "backend"]
    fetch = +refs/pull/*/head:refs/pull/origin/*
[url "git@github.banksimple.com:"]
    insteadOf = bh:
    pushInsteadOf = https://github.banksimple.com/
[url "git@github.banksimple.com:BankSimple/"]
    insteadOf = bs:
[url "git@github.banksimple.com:backend/"]
    insteadOf = backend:
[url "git@github.banksimple.com:projects/"]
    insteadOf = projects:
[url "git@github.banksimple.com:internal/"]
    insteadOf = internal:
[url "git@github.banksimple.com:sec/"]
    insteadOf = sec:
[url "git@github.banksimple.com:ops/"]
    insteadOf = ops:
[url "git@github.banksimple.com:partners/"]
    insteadOf = partners:
[url "git@github.banksimple.com:ops/chef-"]
    insteadOf = chef:
[url "git@github.banksimple.com:cookbooks/"]
    insteadOf = cook:
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope
