#set convert-meta on
#set editing-mode vi
#set keymap vi-insert
#"\C-l":		clear-screen # CTRL-L
#"\e[2~":	quoted-insert # Insert
#"\e[3~":	vi-delete # Delete
#"\e[5~":	beginning-of-history # PageUp
#"\e[6~":	end-of-history # PageDown
#
## ^p check for partial match in history
#bind -m vi-insert "\C-p":dynamic-complete-history
## ^n cycle through the list of partial matches
#bind -m vi-insert "\C-n":menu-complete
#
#set keymap vi-command
#"\e[2~":	quoted-insert # Insert
#"\e[5~":	beginning-of-history # PageUp
#"\e[6~":	end-of-history # PageDown

"\e[1;5D": backward-word
"\e[1;5C": forward-word

"\eOd": backward-word
# for OS X
"\e[5D": backward-word

"\eOc": forward-word
# for OS X
"\e[5C": forward-word

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

set completion-prefix-display-length 2
set show-all-if-unmodified on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show all autocomplete results at once
set page-completions off

# If there are more than 200 possible completions for a word, ask to show them all
set completion-query-items 200

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word
